.barre {
    font-family: Tahoma (sans-serif);
    font-size: medium;
    font-weight: 300;
    text-align: center;
    
    
    }
    
    /*.url {
        font-family: Tahoma (sans-serif);
        font-size: medium;
        font-weight: 300;
        text-align: center;
        
        
        }*/

    .bouton {
    
    }
    
    